.video-background video {
  position:absolute; /* or absolute, depending on desired scope */
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1; /* Puts the video behind other content*/
  object-fit: cover; /* Ensures the video covers the entire area without distortion*/
}
nav{
    height: min-content;
}
.headcontainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  object-fit: cover;
  height: min-content;
  justify-content: center;
  align-content: center;
  margin: 0%;
   
  column-gap: 60px;
}


.logo {
  width: 350px;
  height: 0.41;
  margin: 0px 50px 80px 50px;
}

.line {
  border-right: 1px solid rgb(244, 239, 239);
  height: 80px;
  
}
button{
    background-color: none;
}
.col{display: flex;
  flex-direction: x; 
  height: 700px;
   width: 100%;

}
.box {
    width: min-content;
  margin: 20px 20px 5px 20px;
  font-size: small;
  width: max-content;
}
body {
  margin: 0%;
  background-color: rgb(248, 240, 240);
  /* background-clip: url(WhatsApp\ Video\ 2025-12-09\ at\ 23.42.45_8ac5b012.mp4);
    background-clip: ; */
}
.eq {
  width: 100%;
}
span {
  color: white;
}
a {
  color: white;
  text-decoration: none;
  font: 13px;
  font-style: oblique;
}
.LOGO{
  position: absolute;
  width: 90%;
  top: 500px;
  left: 8%;
  mix-blend-mode: difference;
  filter: invert(100%);
  display: flex;
  flex-direction: column;
  margin: 0px 100px 0px 0px;
  background-color: rgb(255, 255, 255);
  transition-property: tranrt;
}
.slashes {
  position: absolute;
  width: 400px;
  top: 450px;
  right: 25%;
  text-align: center;
  color: white;
  font-size: small;
  
}
.slashesL{
  right: 0cqmax;
}
.box2 {
  width: max-content;
}
*{
    width: 100%;
    margin-top: 0%;
}
.sub{
    display: flex;
    flex-direction: y ;
    justify-content:center;
    margin-top: 0px ;
    width: fit-content;
}
.smallfont{
    font-size: small;
    border: 1px solid black;
    width: max-content;
    height: max-content;

}
.section1{
  width: 100%;
  height: 1500px;
  background-color: rgb(255, 255, 255);

}
.a1{
    display:flex;
    flex-direction: row;
    width: min-content;
    width:700px;
    height: 100px;
    justify-content:left; 
    gap: 20px;
    
}
.head2{
    display: flex;
    flex: x;
    height: 530px;
    width: 1200px;
    justify-content: right;
    margin-right: 200px;
    margin-left: 200px;
    gap: 20px; 
    border-bottom: px black solid; 
}
.subsection1{
  background-color: rgb(255, 255, 255);
  width: max-content; 
  justify-content:right;

}
@media (max-width:600px){
  .headcontainer{
    
    grid-template-rows: repeat(7,40px);
    grid-template-columns: min-content;
    grid-area:auto;
    margin-left: 0%;
  }
  a{
    font-size: 10px;
  }
  .line{
    width: 175px;
    border-right: none;
  }
  .section1{
   
    width: 500px;
    height: min-content;
  }
  .sub{
    width: 100%;
    height: max-content;
  }
  .head2{
    width: 100%;
    height: max-content;

  }
  .menu1{
    height: min-content;
  }
  .col{
    height: 400px;;
  }





  }

  

